@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
#app{
  height: 100vh;
}
.left{
  width: 80px;
}

body{
  background-color: #304030;
  /* height: 100%; */
}
.left{
  width: 80px;
}

.time{
width: 451px;
height: 252px;
text-align: left;
font: normal normal normal 200px/252px Fjalla One;
letter-spacing: 0px;
color: #E8E8E8;
opacity: 1;
}

.text{
width: 272px;
height: 47px;
text-align: left;
font-family: 'Noto Sans TC', sans-serif;
font: normal normal medium 32px/47px Noto Sans TC;
letter-spacing: 0px;
color: #E8E8E8;
opacity: 1;
line-height: center;
}
.tomato{
  width: 1200px;
}

.play{
  top: 372px;
left: 394px;
width: 64px;
height: 64px;
background: #E8E8E8 0% 0% no-repeat padding-box;
opacity: 1;
}

.bell{
  top: 380px;
left: 474px;
width: 48px;
height: 48px;
border: 2px solid #E8E8E8;
background: transparent;
}

.bell2{
  top: 380px;
left: 474px;
width: 48px;
height: 48px;
border: 2px solid gray;
background: gray;
}

.heihgt{
  height: 100vh;
}
.add{
  transform:rotate(45deg);
}
.add-btn{
  position: absolute;
  top: 10%;
left: 90%;
width: 48px;
height: 40px;
background: #F08448 0% 0% no-repeat padding-box;
border-radius: 71px;
opacity: 1;
border: none;
}

.addinput{
width: 100%;
height: 56px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF;
border-radius: 183px;
opacity: 1;
}

.search{
  width: 560px;
  position: relative;
}

.half{
  position: absolute;
  bottom: 0;
  right: 0;
  object-position: right bottom;
  width: 35%;
  overflow: hidden;
}

#hr{
  color: #000;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: inset 0 10px 10px -10px;
  -webkit-transform: rotate(270deg);
  width: 100vh;
  height: 2px;
  border: 0;
  padding-top: 10px;
  position: absolute;
  left: 20%;
  top: 47.5%;
}
.hr{
  background:white;
  -webkit-transform: rotate(270deg);
  height: 1px;
  width: 100%;
}
.img{
  width: 1440px;
}

#completed:checked + #abc{
  display: block;
}

.h1text{
  top: 80px;
left: 120px;
width: 160px;
height: 59px;
text-align: left;
font: normal normal medium 40px/59px Noto Sans TC;
letter-spacing: 0px;
color: #E8E8E8;
opacity: 1;
}
.h1text1{
height: 59px;
font: normal normal medium 40px/59px Noto Sans TC;
letter-spacing: 0px;
color: #6c9460;
}
.h1text2{
  height: 59px;
  font: normal normal medium 40px/59px Noto Sans TC;
  letter-spacing: 0px;
  color:#f08448;
  }
.box-text{
font: normal normal medium Noto Sans TC;
letter-spacing: 0px;
color: #E8E8E8;
font-size:12px;
}

.list-item{
top: 98px;
left: 544px;
width: 48px;
height: 24px;
text-align: left;
font: normal normal normal 16px/24px Noto Sans TC Regular;
letter-spacing: 0px;
color: #E8E8E8;
opacity: 1;
}

.undonecheck{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.undonetext{
width: 198px;
height: 24px;
font: normal normal normal 16px/24px Noto Sans TC Regular;
}

.edit{
background: transparent;
border: none;
}

.input-text{
width: 48px;
height: 24px;
text-align: left;
font: normal normal normal 16px/24px Noto Sans TC Regular;
letter-spacing: 0px;
color: #E8E8E8;
}